@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
  body {
    font-family: 'Cinzel', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 0px;
    margin: 0px;
    animation: fundo 8s infinite;
  }
  *{
    border: 0;
    margin: 0;
    padding: 0;
  }
  @keyframes fundo {
    0% {
      background-color: #333333; /* Cinza escuro */
    }
    50% {
      background-color: #555555; /* Cinza médio */
    }
    100% {
      background-color: #333333; /* Cinza escuro */
    }
  }
  @keyframes luzIntermitente {
    0% {
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    }
    50% {
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    }
    100% {
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    }
  }
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 0px;
    margin-top: 20px;
}
#linha_loja{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
}
#titulo {
  width: 40%;
  height: 100%;
  color: aliceblue;
  text-align: center;
  font-family: 'Cinzel', sans-serif;
  position: relative;
  overflow: hidden;
  animation: luzIntermitente 8s infinite;
  cursor: pointer;
  text-decoration: none;
}

#titulo::before,
#titulo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  animation: pontosVolta 5s linear infinite;
}

#titulo::before {
  left: 0;
  top: 0;
  transform-origin: left center;
}

#titulo::after {
  right: 0;
  bottom: 0;
  transform-origin: right center;
}

@keyframes pontosVolta {
  0%, 100% {
    width: 100%;
    transform: scaleX(1) rotateX(0deg);
  }
  25% {
    width: 0;
    transform: scaleX(0) rotateX(90deg);
  }
  50% {
    height: 0;
    transform: scaleY(0) rotateY(90deg);
  }
  75% {
    height: 2px;
    transform: scaleY(1) rotateY(0deg);
  }
}
.link_sobre{
  text-decoration: none;
  color: aliceblue;
}

/* Estilo para a seção de informações de contato */
.info-contato {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5; /* Cor de fundo */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 20px;
  margin-top: 8vh;
}

.info-contato h2 {
  font-size: 24px; /* Tamanho da fonte para o título */
  color: #333; /* Cor do texto do título */
  margin-bottom: 10px; /* Espaçamento inferior */
}

.info-contato p {
  font-size: 16px; /* Tamanho da fonte para o texto */
  color: #555; /* Cor do texto */
  margin-bottom: 8px; /* Espaçamento inferior */
}

.info-contato strong {
  font-weight: bold; /* Texto em negrito */
  color: #333; /* Cor do texto em negrito */
}

.info-contato a {
  color: #007bff; /* Cor do link */
  text-decoration: none; /* Remover sublinhado do link */
}

.info-contato a:hover {
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre o link */
}

.contato-item:nth-child(odd) {
  background-color: #f0f0f0; /* Cor de fundo para as divs ímpares */
}

.contato-item:nth-child(even) {
  background-color: #e0e0e0; /* Cor de fundo para as divs pares */
}

.contato-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px; /* Espaçamento interno para as divs de contato */
}

.icone-contato {
  margin-right: 10px;
}

.icone-contato img {
  width: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  height: 24px; /* Ajuste o tamanho do ícone conforme necessário */
}

.secao-sobre {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4; /* Cor de fundo */
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.secao-sobre h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.secao-sobre p {
  font-size: 16px;
  margin-bottom: 15px;
}
footer {
  text-align: center;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#container_produtos{
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.produto {
  display: flex;
  width: 30%;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  background-color: #f9f9f9;
  margin: 2% auto;
  border: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicione transições */
}

.produto:hover {
  transform: scale(1.05); /* Aumenta o tamanho em 5% quando o mouse passa por cima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}

.produto img {
  width: 100%;
  border-radius: 5px;
}

.produto h3 {
  margin-top: 8px;
  font-size: 1.2rem;
}

.produto p {
  font-size: 1.1rem;
  color: #333;
}

.produto button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.produto button:hover {
  background-color: #0056b3;
}


/* Estilo para o botão de carrinho flutuante */
.botao-carrinho {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: aliceblue; /* Cor de fundo do botão */
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none; /* Remove sublinhado do link */
  text-align: center;
  font-size: 1.2rem;
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.botao-carrinho:hover {
  background-color: #0056b3; /* Cor de fundo do botão quando o mouse passa por cima */
}
.botao-carrinho img{
  width: 60%;
  height: 60%;
}
#numero-carrinho{
  color: #333333;
}

/* Estilo para o container do carrinho */
#carrinho {
  width: 90vw;
  background-color: #f7f7f7; /* Cor de fundo */
  padding: 20px; /* Espaçamento interno */
  border: 1px solid #ddd; /* Borda com cor suave */
  border-radius: 5px; /* Cantos arredondados */
  margin-top: 20px; /* Espaço superior */
}

/* Estilo para o título "Seu Carrinho de Compras" */
#carrinho h2 {
  font-size: 24px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  margin-bottom: 10px; /* Espaço inferior */
}

/* Estilo para a lista de produtos no carrinho */
#carrinho ul {
  list-style: none; /* Remova os marcadores de lista */
  padding: 0; /* Remova o preenchimento */
}

/* Estilo para cada item de produto na lista */
#carrinho li {
  margin-bottom: 10px; /* Espaço inferior entre os itens */
  font-size: 18px; /* Tamanho da fonte */
}

/* Estilo para o botão "Limpar Carrinho" */
#limpar-carrinho {
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Ícone de cursor de ponteiro */
}

/* Estilo para o botão "Limpar Carrinho" quando o mouse está sobre ele */
#limpar-carrinho:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Estilo para a lista de produtos no carrinho */
#lista-produtos {
  list-style: none;
  padding: 0;
}

/* Estilo para cada item do produto no carrinho */
.produto-no-carrinho {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

/* Estilo para a imagem do produto no carrinho */
.produto-no-carrinho img {
  max-width: 100px;
  margin-right: 10px;
}

/* Estilo para as informações do produto no carrinho */
.info-produto {
  flex-grow: 1;
}

/* Estilo para a lista de produtos no carrinho */
.itens-checkout {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* Estilo para a imagem do produto */
.itens-checkout img {
  max-width: 100px;
  margin-right: 10px;
}

/* Estilo para as informações do produto */
.item-valor-checkout {
  flex-grow: 1;
}

/* Estilo para o nome do produto */
#produto-checkout {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para o preço subtotal */
#valor-checkout {
  font-size: 16px;
  color: #666;
}

/* Estilo para a div de quantidade */
.qtde-checkout {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* Estilo para os botões de incremento e decremento */
#btnmenos-checkout,
#btnmais-checkout {
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

/* Estilo para o input de quantidade */
#counterValue {
  font-size: 18px;
  width: 30px;
  text-align: center;
}

/* Estilo para o preço total */
#valor-total-checkout {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo para o botão de remover */
.remover-checkout img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

/* Estilo para o botão de remover no hover */
.remover-checkout:hover {
  color: red;
}

/* Estilo para remover a borda do input de quantidade */
.quantidade-input {
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  text-align: center;
  width: 30px;
  font-size: 16px;
}
#div_botoes{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}


#valor-total{
  color: #333;
  width: 10%;
  text-align: center;
}

#proximo-passo{
    background-color: #4CAF50; /* Cor verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; /* Ícone de cursor de ponteiro */
}

/* Estilo para o formulário de medidas */
#formulario-medidas {
  display: none; /* Inicialmente oculto */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin-top: 2%;
}

#formulario-medidas h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  color: aliceblue;
}
.nome_label{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  color: aliceblue;
}

#formulario-medidas input[type="number"] {
  width: 20vw;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#formulario-medidas button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2%;
}

#formulario-medidas button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#formulario-medidas button:hover {
  background-color: #0056b3;
}

/* Estilo para o botão "Voltar ao Carrinho" */
#voltar-ao-carrinho {
  margin-top: 20px;
  background-color: #ccc;
  color: #333;
}

#voltar-ao-carrinho:hover {
  background-color: #999;
}
